<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Magento_Backend::content">
                    <resource id="Brituy_Discount::discount" title="Brituy Discount" sortOrder="51">
                        <resource id="Brituy_Discount::rule" title="Discount Manage Rules" translate="title" sortOrder="102">
                            <resource id="Brituy_Discount::discount_save" title="Edit And Save Rules" sortOrder="10" />
                            <resource id="Brituy_Discount::discount_delete" title="Delete Rules" sortOrder="20" />
                        </resource>
                    </resource>
                </resource>
                <resource id="Magento_Backend::stores">
                    <resource id="Magento_Backend::stores_settings">
                        <resource id="Magento_Config::config">
                            <resource id="Brituy_Discount::discount_config" title="Discount Rule Management" translate="title" />
                        </resource>
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
