<!-- declare the post collection class, table and resourceModel for the table -->
<!-- This source will be called in the layout file to get data for grid -->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="discount_listing_data_source" xsi:type="string">
                	Brituy\Discount\Model\ResourceModel\Discount\Collection
                </item>
            </argument>
        </arguments>
    </type>
    
    <virtualType name="Brituy\Discount\Model\ResourceModel\Discount\Collection"
    		  type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">brituy_discount</argument>
            <argument name="resourceModel" xsi:type="string">Brituy\Discount\Model\ResourceModel\Discount</argument>
        </arguments>
    </virtualType>
</config>
