<?xml version="1.0"?>
<!-- Add admin menu item -->
<!-- Адрес перенаправления определяется в action="...", доступ к пунктам меню — в resource="..." -->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Brituy::core"
             title="Brituy"
             module="Brituy_Discount"
             sortOrder="51"
             resource="Magento_Backend::content"/>
        <add id="Brituy_Discount::section"
             title="Discount"
             module="Brituy_Discount"
             sortOrder="0"
             resource="Brituy_Discount::section"
             parent="Brituy::core"/>
        <add id="Brituy_Discount::discount"
             title="Manage Discounts"
             module="Brituy_Discount"
             sortOrder="10"
             action="brituy_discount/discount/index"
             resource="Magento_Backend::content"
             parent="Brituy_Discount::section"/>
        <add id="Brituy_Discount::discount_config"
             title="Configuration"
             module="Brituy_Discount"
             sortOrder="99"
             parent="Brituy_Discount::section"
             action="adminhtml/system_config/edit/section/discount"
             resource="Magento_Backend::content"/>
    </menu>
</config>
