<?xml version="1.0"?>
<!--  create a Tab, Section, Group and Field in system configuration page -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="brituy" translate="label" sortOrder="10">
            <label>Brituy</label>
        </tab>
        <section id="discount" translate="label" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Discount</label>
            <tab>brituy</tab>
            <resource>Brituy_Discount::discount_config</resource>
            
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>General Configuration</label>
                <field id="discount_enable" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Module Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                
                <field id="menu_title" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Menu Text</label>
                    <comment>This text will display in menu on the frontend.</comment>
                </field>
                
                <field id="base_route" translate="label" type="text" sortOrder="10" showInDefault="1">
                    <label>Base URL</label>
                </field>
            </group>
        </section>
    </system>
</config>
